<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" id="exampleModalLabel">Edit Product</h2>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editProductForm" (ngSubmit)="editProduct()">
        <div class="grid-container">
          <div class="grid-x grid-padding-x mt-3">
            <div class="medium-12 cell">
              <label>Cost
                <input type="number" formControlName="cost" step=".1" required>
              </label>
            </div>
            <div class="medium-12 cell">
              <label>Quantity
                <input type="number" formControlName="quantity" step=".1" required>
              </label>
            </div>
          </div>
          <input type="hidden" [value]="productID">
        </div>
        <div class="modal-footer mt-3">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!editProductForm.valid">Save
            changes</button>
        </div>
      </form>
    </div>
  </div>
</div>